# -----------------------------
# Python cache
# -----------------------------
__pycache__/
*.py[cod]
*$py.class

# -----------------------------
# Virtual Environment
# -----------------------------
venv/
env/
ENV/

# -----------------------------
# Dataset & Large Files
# -----------------------------
data/
archive/
*.zip

# -----------------------------
# Model Weights (Large Files)
# -----------------------------
# model/
# *.h5
# *.keras
# *.pt
# *.pth

# -----------------------------
# Jupyter Notebook checkpoints
# -----------------------------
.ipynb_checkpoints/

# -----------------------------
# OS Files
# -----------------------------
.DS_Store
Thumbs.db

# -----------------------------
# IDE Settings
# -----------------------------
.vscode/
.idea/
